* {
  margin: 0%;
  padding: 0%;
}

/* Carrusel para mostrar productos */
.carrusel {
  width: 100%;
  overflow: hidden;
  background: #f0f0f0;
}

.carrusel-contenedor {
  display: flex;
  animation: deslizar 20s linear infinite;
}

.carrusel-contenedor img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  flex-shrink: 0;
  margin: 5px;
}

@keyframes deslizar {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* Estilos para la sección del Slogan */
.slogan-section {
  background-color: #1b1515;
  padding: 10px 10px;
  text-align: center;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.slogan-section h1 {
  color: #FBC124;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 8px;
  letter-spacing: 1px;
}

.slogan-section h2 {
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.5;
}

/* Barra de navegación */
.barra-navegacion {
  display: flex;
  background-color: black;
  list-style: none;
  gap: 100px;
  padding: 20px;
  justify-content: center;
}

.barra-navegacion a {
  text-decoration: none;
  color: #FBC124;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.barra-navegacion a:hover {
  color: white;
}

/* Contenedor fijo con sticky */
.contenedor-fijo {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

/* Galeria de productos con css grid */
.productos {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: 150px;
  gap: 15px;
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
}

.producto {
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.producto:hover {
  transform: scale(1.02);
  z-index: 2;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.p1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  background-image: url("https://shop-cdncname.huawei.com/mx/uomcdn/MXHW/pms/202512/gbom/6942103182341/428_428_786082A20AD5BA5D9BBF4A48A784407Dmp.png");
}

.p2 {
  grid-column: 3 / 6;
  grid-row: 1 / 2;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqtT9dgzq0vyKgAKjZTLCfF4BAi84XZQz7BQ&s");
}

.p3 {
  grid-column: 6 / 9;
  grid-row: 1 / 3;
  background-image: url("https://m.media-amazon.com/images/I/715lDMqHYnL._AC_UF894,1000_QL80_.jpg");
}

.p4 {
  grid-column: 3 / 5;
  grid-row: 2 / 3;
  background-image: url("https://i.blogs.es/5107bd/iphone-17-pro/1366_521.jpeg");
}

.p5 {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJ-pR6aSDMKMo4csyBLsMlhw6l7arPoxT2eQ&s");
}

.p6 {
  grid-column: 1 / 5;
  grid-row: 3 / 5;
  background-image: url("https://assets.xfinity.com/assets/dotcom/hub/images/2025/q3/flip-fold-hero.jpg");
}

.p7 {
  grid-column: 5 / 7;
  grid-row: 3 / 4;
  background-image: url("https://images.samsung.com/is/image/samsung/assets/mx/f2507/pcd/watches/PCD_KV_Galaxy-Watch8_1440x640_pc.jpg?imwidth=1366");
}

.p8 {
  grid-column: 7 / 9;
  grid-row: 3 / 4;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRaQR3zlVxpVM72BZa2T99dbUeLQtj0CcY9YQ&s");
}

.p9 {
  grid-column: 5 / 9;
  grid-row: 4 / 5;
  background-image: url("https://i.ytimg.com/vi/9NnjsfEkTf0/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLCfzLRE3-UG817XA2Twrua1JkhwFQ");
}

.p10 {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZXKYotJjZlwZgtsT_jwMJa5BByBYR24Mbwg&s");
}

.p11 {
  grid-column: 2 / 4;
  grid-row: 5 / 6;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxr4403aY0u786N5iddsJHh-VkVkpVhdXARw&s");
}

.p12 {
  grid-column: 4 / 7;
  grid-row: 5 / 7;
  background-image: url("https://consumer.huawei.com/dam/content/dam/huawei-cbg-site/ecommerce/mx/q1_new/mate_xt/HUAWEI-Mate-XT_Red.png");
}

.p13 {
  grid-column: 7 / 9;
  grid-row: 5 / 7;
  background-image: url("https://www.muycomputer.com/wp-content/uploads/2024/12/MacBook_Air_M4.jpg");
}

.p14 {
  grid-column: 1 / 4;
  grid-row: 6 / 7;
  background-image: url("https://m.media-amazon.com/images/S/aplus-media-library-service-media/50ac7428-e3aa-4e23-a4e3-78f16a2eeb23.__CR0,0,600,450_PT0_SX600_V1___.jpg");
}

.p15 {
  grid-column: 1 / 5;
  grid-row: 7 / 8;
  background-image: url("img/audifonos.png");
}

.p16 {
  grid-column: 5 / 9;
  grid-row: 7 / 8;
  background-image: url("https://www.apple.com/newsroom/images/2024/09/introducing-apple-watch-series-10/article/Apple-Watch-Series-10-lineup-240909_big.jpg.large.jpg");
}

.grid{
  text-align: center;
  color: #e08610;
  padding: 5px;
  margin: 10px;
  text-decoration: solid;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial;
}