* {
  margin: 0%;
  padding: 0%;
}

/* Carrusel para mostrar productos */
.carrusel {
  width: 100%;
  overflow: hidden;
  background: #f0f0f0;
}

.carrusel-contenedor {
  display: flex;
  animation: deslizar 20s linear infinite;
}

.carrusel-contenedor img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  flex-shrink: 0;
  margin: 5px;
}

@keyframes deslizar {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* Estilos para la sección del Slogan */
.slogan-section {
  background-color: #1b1515;
  padding: 40px 20px;
  text-align: center;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.slogan-section h1 {
  color: #FBC124;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 8px;
  letter-spacing: 1px;
}

.slogan-section h2 {
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.5;
}

/* Barra de navegación */
.barra-navegacion {
  display: flex;
  background-color: black;
  list-style: none;
  gap: 100px;
  padding: 20px;
  justify-content: center;
}

.barra-navegacion a {
  text-decoration: none;
  color: #FBC124;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.barra-navegacion a:hover{
  color: white;
}
