* {
  margin: 0%;
  padding: 0%;
}


.carrusel {
  width: 100%;
  overflow: hidden;
  background: #f0f0f0;
}

.carrusel-contenedor {
  display: flex;
  animation: deslizar 20s linear infinite;
}

.carrusel-contenedor img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  flex-shrink: 0;
}

@keyframes deslizar {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}