* {
  margin: 0%;
  padding: 0%;
}

/* Carrusel para mostrar productos */
.carrusel {
  width: 100%;
  overflow: hidden;
  background: #f0f0f0;
}

.carrusel-contenedor {
  display: flex;
  animation: deslizar 20s linear infinite;
}

.carrusel-contenedor img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  flex-shrink: 0;
  margin: 5px;
}

@keyframes deslizar {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}